<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="example_hyva_admin" frontName="example_hyva_admin">
            <module name="Yireo_ExampleHyvaAdmin" before="Magento_Backend"/>
        </route>
    </router>
</config>
